<div data-view-model="Common_InformationViewModel"></div>
<div data-view-model="Login_LoginViewModel" class="LoginLayout" style="display: none;"></div>
<div class="screens">
	<div data-view-model="Common_HeaderViewModel" class="tabs_panel" style="display: none;"></div>
	<div data-view-model="Mail_LayoutSidePane_MailViewModel" class="screen MailLayout" style="display: none;"></div>
	<div data-view-model="Mail_LayoutBottomPane_MailViewModel" class="screen MailBottomLayout" style="display: none;"></div>
	<div data-view-model="Mail_ComposeViewModel" class="screen MailComposeLayout" style="display: none;"></div>
	<div data-view-model="Settings_SettingsViewModel" class="screen SettingsLayout" style="display: none;"></div>
	<div data-view-model="Contacts_ContactsViewModel" class="screen ContactsLayout" style="display: none;"></div>
	<div data-view-model="Calendar_CalendarViewModel" class="screen CalendarLayout" style="display: none;"></div>
	<div data-view-model="FileStorage_FileStorageViewModel" class="screen FileStorageLayout" style="display: none;"></div>
	
	<div data-view-model="Mail_LayoutSidePane_MessagePaneViewModel" class="panel message_viewer" style="display: none;"></div>

	<div data-view-model="Popups_AlertPopupViewModel" class="alert popup" style="display: none;"></div>
	<div data-view-model="Popups_ConfirmPopupViewModel" class="confirm popup" style="display: none;"></div>
	<div data-view-model="Popups_AccountCreatePopupViewModel" class="add_account popup" style="display: none;"></div>
	<div data-view-model="Popups_FolderSystemPopupViewModel" class="folders_setup popup" style="display: none;"></div>
	<div data-view-model="Popups_FolderCreatePopupViewModel" class="add_folder popup" style="display: none;"></div>
	<div data-view-model="Popups_ChangePasswordPopupViewModel" class="popup" style="display: none;"></div>
</div>