<div class="login_panel" data-bind="css: {'email': emailVisible, 'login': loginVisible}">
	<div class="login_panel_content">
		<div class="header" data-i18n="LOGIN/HEADING" data-bind="i18n: 'text'"></div>
		<div class="content clearfix">
			<form class="form fields" action="#/" onsubmit="return false;" data-bind="command: loginCommand">
				<div class="fieldset">
					<div class="row email" data-bind="visible: emailVisible, css: {'focused': emailFocus(), 'filled': email().length > 0}">
						<label for="email" class="title placeholder" data-i18n="LOGIN/LABEL_EMAIL" data-bind="i18n: 'text'"></label>
						<span class="value">
							<input id="email" class="input" type="text" autocomplete="off" data-bind="value: email, hasfocus: emailFocus, valueUpdate: 'afterkeydown'" />
						</span>
					</div>
					<div class="row login" data-bind="visible: loginVisible, css: {'focused': loginFocus(), 'filled': login().length > 0}">
						<label for="login" class="title placeholder" data-i18n="LOGIN/LABEL_LOGIN" data-bind="i18n: 'text'"></label>
						<span class="value">
							<input id="login" class="input" autocomplete="off" type="text" data-bind="value: login, hasfocus: loginFocus, valueUpdate: 'afterkeydown'" />
						</span>
						<span class="value suffix">
							<span class="text" data-bind="text: loginAtDomainValueWithAt"></span>
						</span>
					</div>
					<div class="row password" data-bind="css: {'focused': passwordFocus(), 'filled': password().length > 0}">
						<label for="password" class="title placeholder" data-i18n="LOGIN/LABEL_PASSWORD" data-bind="i18n: 'text'"></label>
						<span class="value">
							<input id="password" class="input" autocomplete="off" type="password" data-bind="value: password, hasfocus: passwordFocus, valueUpdate: 'afterkeydown'" />
						</span>
					</div>
				</div>
				<div class="languages" data-bind="visible: allowLanguages() && viewLanguagesAsDropdown()">
					<span class="custom_select" data-bind="dropdown: {'control': false}, css: {'right': !rtl()}">
						<span class="name" data-bind="css: currentLanguage">
							<span class="icon"></span>
							<span class="text" data-bind="text: currentLanguage"></span>
						</span>
						<span class="control">
							<span class="icon"></span>
						</span>
						<span class="dropdown">
							<span class="dropdown_helper">
								<span class="dropdown_arrow"><span></span></span>
								<span class="dropdown_content" data-bind="foreach: aLanguages">
									<span class="item" data-bind="css: value + ($parent.currentLanguage() === value ? ' selected' : ''), click: function () { $parent.changeLanguage(value); }">
										<span class="icon"></span>
										<span class="text" data-bind="text: name"></span>
									</span>
								</span>
							</span>
						</span>
					</span>
				</div>
				{%INCLUDE-START/Login-Before-Submit-Button/INCLUDE-END%}
				<div class="row buttons">
					<button type="submit" class="button login" data-bind="text: signInButtonText, command: loginCommand"></button>
				</div>
				<div class="row signme" data-bind="visible: signMeType() !== Enums.LoginSignMeType.Unuse">
					<span>
						<label class="custom_checkbox" data-bind="css: {'checked': signMe}">
							<span class="icon"></span>
							<input id="signme" type="checkbox" data-bind="checked: signMe" />
						</label>
						<label class="title" for="signme" data-i18n="LOGIN/LABEL_REMEMBER_ME" data-bind="i18n: 'text'"></label>
					</span>
				</div>
			</form>
			{%INCLUDE-START/Login-Before-Description/INCLUDE-END%}
			<div class="description" data-bind="visible: '' !== loginDescription(), html: loginDescription"></div>
			{%INCLUDE-START/Login-After-Description/INCLUDE-END%}
			<div class="clear"></div>
			
			<div class="languages demo" data-bind="visible: allowLanguages() && !viewLanguagesAsDropdown()">
				<div class="title" data-i18n="LOGIN/LANGUAGE_SELECTOR_TITLE" data-bind="i18n: 'text'"></div>
				<div data-bind="foreach: aLanguages">
					<span class="item" data-bind="css: value + ($parent.currentLanguage() === value ? ' selected' : ''), click: function () { $parent.changeLanguage(value); }">
						<span class="item_content">
							<span class="icon"></span>
							<span class="text" data-bind="text: name"></span>
						</span>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="vhelper"></div>