<div class="item" data-bind="visible: visible(),
	 css: { 'selected': selected, 'selectable': selectable, 'existen': existen, 'subscribed': subscribed,
		'system': isSystem, 'user': !isSystem(), 'virtualEmpty': virtualEmpty, 'accordion': subfolders().length !== 0, 'expanded': expanded(), 'collapsed': !expanded()}">
	<a href="javascript: void(0);" class="title" data-bind="
		css: {'recivedAnim': recivedAnim()},
		attr: {href: routingHash},
		visible: canBeSelected,
		droppable: {valueFunc: virtual() ? false : function (oEvent, oUi) { $root.messagesDrop($data, oEvent, oUi); }, switchObserv: selected}
	">
		<!--<span class="count" data-bind="visible: enableEmptyFolder, click: emptyFolder">e</span>-->
		<span class="count" data-bind="visible: messageCountToShow() > 0, text: messageCountToShow(),
			  css: {'unseen': showUnseenMessages}"></span>
		<span class="name">
			<span class="icon" data-bind="css: 'type' + type()"></span>
			<span class="collapse_handler" data-bind="visible: isCollapseHandler, css: {'expanded': expanded(), 'collapsed': !expanded()}, 'click': onAccordion"></span>
			<span class="text animGoal" data-bind="text: displayName"></span>
			<!--<span data-bind="css: {'fade_clean': !messageCountToShow(), 'fade_count': messageCountToShow() && !selected, 'fade_selected': selected}"></span>-->
		</span>
		<!--<span class="count" data-bind="visible: newMessages().length > 0, text:  newMessages().length"></span>-->
	</a>
	<span class="folder" data-bind="visible: !canBeSelected()">
		<span class="title">
			<span class="count" data-bind="visible: messageCountToShow() > 0, text: messageCountToShow(),
			  css: {'unseen': showUnseenMessages}"></span>
			<span class="name">
				<span class="icon" data-bind="css: 'type' + type()"></span>
				<span class="collapse_handler" data-bind="visible: subfolders().length !== 0 && !isNamespace(), css: {'expanded': expanded(), 'collapsed': !expanded()}, 'click': onAccordion"></span>
				<span class="text animGoal" data-bind="text: displayName"></span>
			</span>
		</span>
		<!--<span class="count" data-bind="visible: newMessages().length > 0, text:  newMessages().length"></span>-->
	</span>
	<!-- ko if: !isNamespace() -->
		<div class="children" data-bind="template: { name: 'Mail_FolderViewModel', foreach: subfolders }"></div>
	<!-- /ko -->
</div>
<!-- ko if: isNamespace -->
	<!-- ko template: {name: 'Mail_FolderViewModel', foreach: subfolders} --><!-- /ko -->
<!-- /ko -->
