<span class="item helpdesk">
	<span class="helper" data-bind="i18n: 'text'" data-i18n="HELPDESK/TITLE_WELCOME"></span>
	<a class="text" href="#" data-bind="attr: {href: sThreadsHash}, i18n: 'text'" data-i18n="HELPDESK/TITLE_WELCOME"></a>
</span>
<span class="item logout">
	<a class="text" href="#" data-bind="click: logout, i18n: 'text'" data-i18n="HEADER/LOGOUT"></a>
</span>
<span class="item settings">
	<a class="text" href="#" data-bind="attr: {href: '#' + settingsHash()}, i18n: 'text'" data-i18n="HEADER/SETTINGS"></a>
</span>
