<div class="panel_top">
	<a class="link cancel" data-bind="click: cancelNewThread, i18n: 'text'" data-i18n="HELPDESK/BUTTON_CANCEL"></a>
	<h2 class="title" data-bind="i18n: 'text'" data-i18n="HELPDESK/TITLE_NEW_THREAD"></h2>
</div>
<div class="panel_center">
	<div class="fields">
		<div class="row" data-bind="css: { 'filled': newThreadText().length > 0 }">
			<label class="title placeholder" data-bind="i18n: 'text'" data-i18n="HELPDESK/CREATE_FORM_PLACEHOLDER"></label>
			<span class="value">
				<textarea class="input" data-bind="value: newThreadText, valueUpdate: 'afterkeydown', attr: {'disabled': newThreadCreating}, initDom: domNewThreadTextarea, hasfocus: newThreadTextFocus"></textarea>
			</span>
		</div>
		
		<div class="row data attachments upload" data-bind="visible: uploadedFiles().length > 0">
			<!-- ko template: {name: 'Common_FileViewModel', foreach: uploadedFiles} --><!-- /ko -->
		</div>

		<table class="row data ccbcc" data-bind="visible: ccbccVisible()">
			<tbody>
			<tr>
				<td class="label">
					<span data-i18n="COMPOSE/HEADER_CC" data-bind="i18n: 'text'"></span>
				</td>
				<td>
					<div class="input inputosaurus">
						<!--<div class="disable_mask" data-bind="visible: internalNote"></div>-->
						<div data-bind="customScrollbar: {x: false}">
							<div class="scroll-inner">
								<!--<label for="helpdesk_cc" class="label placeholder" data-i18n="COMPOSE/HEADER_CC" data-bind="i18n: 'text'"></label>-->
								<input id="helpdesk_cc" type="text" spellcheck="false" tabindex="2" data-bind="initDom: ccAddrDom" />
							</div>
						</div>
					</div>
				</td>
				<td class="label">
					<span data-i18n="COMPOSE/HEADER_BCC" data-bind="i18n: 'text'"></span>
				</td>
				<td>
					<div class="input inputosaurus">
						<div data-bind="customScrollbar: {x: false}">
							<div class="scroll-inner">
								<!--<label for="helpdesk_bcc" class="label placeholder" data-i18n="COMPOSE/HEADER_BCC" data-bind="i18n: 'text'"></label>-->
								<input id="helpdesk_bcc" type="text" spellcheck="false" tabindex="3" data-bind="initDom: bccAddrDom" />
							</div>
						</div>
					</div>
				</td>
			</tr>
			</tbody>
		</table>
		
		<div class="buttons">
			<span class="button upload" data-bind="visible: uploadedFiles().length < 5, i18n: 'text', initDom: uploaderButtonCompose, css: {'dragOver': bDragActive}" >
				<span class="icon"></span>
				<span class="text" data-bind="i18n: 'text'" data-i18n="HELPDESK/ACTION_ADD_ATTACHMENT"></span>
			</span>
			<span class="button ccbcc" data-bind="visible: !ccbccVisible(), i18n: 'text', click: changeCcbccVisibility" >
				<span class="icon"></span>
				<span class="text" data-bind="i18n: 'text'" data-i18n="HELPDESK/ACTION_ADD_CCBCC"></span>
			</span>
			<button class="button create" data-bind="command: createThreadCommand, text: createThreadButtonText"></button>
		</div>
	</div>
</div>