<div class="panel_center unselectable" data-bind="customScrollbar: {x: false}">
	<div class="threads_scroll scroll-inner">
		<div class="items_list">
			<div class="details" data-bind="visible: !clientDetailsVisible() && '' !== externalContentUrl()">
				<div class="details_content">
					<span class="link details_show" data-i18n="HELPDESK/ACTION_SHOW_DETAILS" 
						data-bind="i18n: 'text', click: showClientDetails"></span>
				</div>
			</div>
			<div class="details" data-bind="visible: clientDetailsVisible() && '' !== externalContentUrl()">
				<div class="details_content">
					<span class="link details_hide" data-i18n="HELPDESK/ACTION_HIDE_DETAILS"
						data-bind="i18n: 'text', click: hideClientDetails"></span>
					<!-- ko if: '' !== externalContentUrl() -->
						<iframe class="external_content" src="javascript:void(0);"
							data-bind="attr: { 'src': externalContentUrl }"></iframe>
					<!-- /ko -->
				</div>
			</div>
			<span class="list_notification" data-bind="visible: isSearch() && !isEmptyList()">
				<span class="link" data-i18n="MAILBOX/LINK_CLEAR_SEARCH" data-bind="i18n: 'text', click: onClearSearch"></span>
				<span class="description" data-bind="text: searchText"></span>
			</span>
			
			<div class="items_sub_list">
				<!-- ko template: {name: 'Helpdesk_ThreadItemExt', foreach: threads} --><!-- /ko -->
				<div class="item helper"></div>
			</div>
			
			<span class="list_notification" data-bind="visible: loadingList()">
				<span class="description" data-i18n="HELPDESK/INFO_LOADING_THREAD_LIST" data-bind="i18n: 'text'" ></span>
			</span>
			
			<span class="list_notification" data-bind="visible: !loadingList() && isEmptyList()">
				<span class="description" data-bind="text: dynamicEmptyListInfo"></span>
			</span>
		</div>
	</div>
</div>