<div class="mask" data-bind="click: onCancelClick"></div>
<div class="popup_panel">
	<span class="close" data-bind="click: onCancelClick"></span>

	<div class="fields">
		<div class="fieldset">
			<div class="row">
				<span class="label" data-i18n="SETTINGS/ACCOUNT_PROPERTIES_CURRENT_PASSWORD" data-bind="i18n: 'text'"></span>
				<input class="value input" type="password" spellcheck="false" maxlength="255" data-bind="value: currentPassword" />
			</div>

			<div class="row">
				<span class="label" data-i18n="SETTINGS/ACCOUNT_PROPERTIES_NEW_PASSWORD" data-bind="i18n: 'text'"></span>
				<input class="value input" type="password" spellcheck="false" maxlength="255" data-bind="value: newPassword" />
			</div>
			
			<div class="row">
				<span class="label" data-i18n="SETTINGS/ACCOUNT_PROPERTIES_CONFIRM_NEW_PASSWORD" data-bind="i18n: 'text'"></span>
				<input class="value input" type="password" spellcheck="false" maxlength="255" data-bind="value: confirmPassword" />
			</div>
		</div>

		<div class="buttons">
			<span class="button save" data-i18n="SETTINGS/BUTTON_SAVE" data-bind="i18n: 'text', click: onOKClick"></span>
			<span class="button cancel secondary" data-i18n="SETTINGS/BUTTON_CANCEL" data-bind="i18n: 'text', click: onCancelClick"></span>
		</div>
	</div>
</div>
<span class="helper"></span>	