<div class="mask"></div>
<div class="popup_panel">
	<span class="close" data-bind="click: onCancelClick"></span>
	<span class="text" data-bind="i18n: 'text'" data-i18n="COMPOSE/CONFIRM_ANOTHER_MESSAGE_COMPOSED"></span>
	<div class="buttons">
		<span class="button success" data-bind="click: onDiscardClick, i18n: 'text'" data-i18n="COMPOSE/BUTTON_DISCARD"></span>
		<span class="button success" data-bind="click: onSaveAsDraftClick, i18n: 'text'" data-i18n="COMPOSE/BUTTON_SAVE_AS_DRAFT"></span>
		<span class="button" data-bind="click: onCancelClick, i18n: 'text'" data-i18n="MAIN/BUTTON_CANCEL"></span>
	</div>
</div>
<span class="helper"></span>