<div class="mask" data-bind="click: onCancelClick"></div>
<div class="popup_panel">
	<span class="close" data-bind="click: onCancelClick"></span>
	<span class="title" data-i18n="SETTINGS/ACCOUNT_FOLDERS_NEW_FOLDER" data-bind="i18n: 'text'"></span>
	
	<div class="fields">
		<div class="row">
			<span class="label" data-i18n="SETTINGS/ACCOUNT_FOLDERS_PARENT_FOLDER" data-bind="i18n: 'text'"></span>
			<select class="value input" data-bind="value: parentFolder, options: options,
				optionsText: 'translatedDisplayName', optionsValue: 'fullName', optionsAfterRender: defaultOptionsAfterRender,
				valueUpdate: ['blur', 'afterkeydown']">
			</select>
		</div>
		<div class="row">
			<span class="label" data-i18n="SETTINGS/ACCOUNT_FOLDERS_FOLDER_NAME" data-bind="i18n: 'text'"></span>
			<input type="text" class="value input" spellcheck="false" maxlength="30" data-bind="value: folderName, hasfocus: folderNameFocus" />
		</div>
		<div class="buttons">
			<span class="button" data-i18n="SETTINGS/ACCOUNT_FOLDERS_BUTTON_OK" data-bind="i18n: 'text', click: onOKClick, visible: !loading()"></span>
			<span class="button" data-i18n="SETTINGS/BUTTON_SAVING" data-bind="i18n: 'text', click: onOKClick, visible: loading()"></span>
			<span class="button" data-i18n="MAIN/BUTTON_CANCEL" data-bind="i18n: 'text', click: onCancelClick, visible: !loading()"></span>
		</div>
	</div>
</div>
<span class="helper"></span>	