<input type="submit" name="next_btn" style="position: absolute; visibility: hidden;" value="Exit" />

<h1>
	Installation Completed
</h1>

<p class="result_text_ok description">
	Congratulations! The application has been successfully installed.
	Click Exit to be redirected into the Admin Panel where you can set up domains and users.
	Once you entered Admin Panel, be sure to DELETE installer folder.
</p>

<div class="buttons">
	<hr />
	<input class="wm_button" type="submit" name="back_btn" value="Back" />
	<input class="wm_button right" type="button" name="next_btn" id="exit-btn-completed" value="Exit" />
</div>