<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title></title>
	<link rel="stylesheet" href="css/styles.css" type="text/css" />
	<script src="js/jquery.js" type="text/javascript"></script>
	<script src="js/install.js" type="text/javascript"></script>
</head>
<body>
<div class="wrapper">
	<div class="wrapper1">
		<div class="pane_common">
			<div class="pane_left">
				<div style="text-align: center">
					<img style="width:100px; height:75px; margin: 0px 0px 0px 15px;" src="{{TopImgSrc}}" />
					<br /><br />
				</div>
				{{Menu}}
			</div>
			<div class="pane_center">
				<form action="index.php?post" method="post">
					{{Main}}
				</form>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>
</body>
</html>