{{HELPDESK/POST_USER_SUBJECT}}
<br />
<h1>
	{{HELPDESK/POST_USER_GREET}}
</h1>
<hr />
{{HELPDESK/POST_USER_REMIND}}
<br />
<b>{{HELPDESK/POST_USER_THREAD_SUBJECT_LABEL}}</b> {{HELPDESK/POST_USER_THREAD_SUBJECT}}
<br />
<br />
{{HELPDESK/POST_USER_HTML}}
<br />
<br />
<br />
{{HELPDESK/POST_USER_NOT_REPLY}}
<br />
<br />
{{HELPDESK/POST_USER_CLICK_LINK}}
<br />
<a target="_blank" href="{{HELPDESK/POST_USER_THREAD_LINK}}" tabindex="-1">{{HELPDESK/POST_USER_THREAD_LINK}}</a>
<br />
<!--<br />-->
<!--<a target="_blank" href="{{HELPDESK/POST_USER_THREAD_LINK}}&action=add" tabindex="-1" style="margin-right: 20px">I have more to say</a>-->
<!--<a target="_blank" href="{{HELPDESK/POST_USER_THREAD_LINK}}&action=close" tabindex="-1">I close the issue, thanks!</a>-->
<!--<br />-->