:SUBJECT: Reset your password in {{HELPDESK_SITE_NAME}}
<br />
<br />
Someone (probably you) has requested to reset password for your {{USER_EMAIL}} {{HELPDESK_SITE_NAME}} account.
<br />
<br />
If you want to proceed, please follow this link to specify your new password.
<br />
{{FORGOT_LINK}}
<br />
<br />
Otherwise, you can disregard this email. Your {{HELPDESK_SITE_NAME}} password will be left intact.
<br />
<br />
Please do not reply to this email as it was sent automatically from an unmonitored email account.
<br />
<br />
<hr />
Regards,
<br />
Your {{HELPDESK_SITE_NAME}}
<br />