:SUBJECT: {{HELPDESK_SITE_NAME}} Registration
<br />
Someone (probably you) has requested to create a {{HELPDESK_SITE_NAME}} account.
<br />
If you want to proceed, please follow this link to finish your registration:
<br />
{{ACTIVATION_LINK}}
<br />
<br />
Otherwise, you can disregard this email. No account will be created.
<br />
<br />
Please do not reply to this email as it was sent automatically from an unmonitored email account.
<br />
<hr />
Regards,
<br />
Your {{HELPDESK_SITE_NAME}}
<br />