{{HELPDESK/POST_NOTIFICATION_SUBJECT}}
<br />
<h1>
	{{HELPDESK/POST_NOTIFICATION_GREET}}
</h1>
<hr />
{{HELPDESK/POST_NOTIFICATION_REMIND}}
<br />
<a target="_blank" href="{{HELPDESK/POST_NOTIFICATION_THREAD_LINK}}" tabindex="-1">{{HELPDESK/POST_NOTIFICATION_THREAD_LINK}}</a>
<br />
<br />
{{HELPDESK/POST_NOTIFICATION_QUESTIONS}}
<br />
<br />
{{HELPDESK/POST_NOTIFICATION_CLOSE}}
<br />
<br />
{{HELPDESK/POST_NOTIFICATION_NOT_REPLY}}
<br />
<br />
{{HELPDESK/POST_NOTIFICATION_CLICK_LINK}}
<br />
<a target="_blank" href="{{HELPDESK/POST_NOTIFICATION_THREAD_LINK}}" tabindex="-1">{{HELPDESK/POST_NOTIFICATION_THREAD_LINK}}</a>
<br />
<!--<br />-->
<!--<a target="_blank" href="{{HELPDESK/THREAD_LINK}}&action=add" tabindex="-1" style="margin-right: 20px">I have more to say</a>-->
<!--<a target="_blank" href="{{HELPDESK/THREAD_LINK}}&action=close" tabindex="-1">I close the issue, thanks!</a>-->
<!--<br />-->
