:SUBJECT: Regarding your inquiry
<br />
<h1>
	Hello{{THREAD_OWNER}},
</h1>
<hr />
A few days ago, {{HELPDESK_SITE_NAME}} support staff has replied your inquiry at:
<br />
<a target="_blank" href="{{THREAD_LINK}}" tabindex="-1">{{THREAD_LINK}}</a>
<br />
<br />
Since then, we have not received any response back from you, and would like to know if you consider this issue to be closed.
If you have any further questions, please use the link above to post them.
<br />
<br />
This issue will be automatically closed out in a few days if you choose not to respond.
<br />
<br />
This notification was sent automatically, please do not reply to it.
<br />
<br />
To view or reply to the thread, click the link below:
<br />
<a target="_blank" href="{{THREAD_LINK}}" tabindex="-1">{{THREAD_LINK}}</a>
<br />
<br />
<a target="_blank" href="{{THREAD_LINK}}&action=add" tabindex="-1" style="margin-right: 20px">I have more to say</a>
<a target="_blank" href="{{THREAD_LINK}}&action=close" tabindex="-1">I close the issue, thanks!</a>
<br />
