:SUBJECT: Your inquiry has been received
<br />
<h1>
	Hello{{THREAD_OWNER}},
</h1>
<hr />
We have received your inquiry in {{HELPDESK_SITE_NAME}}:
<br />
<br />
{{POST_HTML}}
<br />
<br />
<br />
This notification was sent automatically, please do not reply to it.
<br />
<br />
To view or reply to the thread, click the link below:
<br />
<a target="_blank" href="{{THREAD_LINK}}" tabindex="-1">{{THREAD_LINK}}</a>
<br />
<br />
<a target="_blank" href="{{THREAD_LINK}}&action=add" tabindex="-1" style="margin-right: 20px">I have more to say</a>
<a target="_blank" href="{{THREAD_LINK}}&action=close" tabindex="-1">I close the issue, thanks!</a>
<br />