<div class="tabs_panel">
	<span class="item emails" data-bind="dropdown: {}, css: {'current': currentTab() === Enums.Screens.Mailbox}">
		<span class="helper" data-bind="text: email"></span>
		<a class="text" href="javascript: void(0);" data-bind="text: email, attr: {href: sMailboxHash}, click: gotoMailbox"></a>
		<span class="dropdown">
			<span class="dropdown_helper">
				<span class="dropdown_arrow"><span></span></span>
				<span class="dropdown_content" data-bind="foreach: accounts">
					<span class="item" data-bind="text: email, visible: !isCurrent(), click: changeAccount"></span>
				</span>
			</span>
		</span>
		<span class="item control emails_control" data-bind="visible: accounts().length > 1"></span>
	</span>
	
	<span class="item contacts" data-bind="css: {'current': currentTab() === Enums.Screens.Contacts, 
			'recivedAnim': contactsRecivedAnim}">
		<span class="helper" data-i18n="HEADER/CONTACTS" data-bind="i18n: 'text'"></span>
		<a href="javascript: void(0);" data-i18n="HEADER/CONTACTS" data-bind="i18n: 'text', 
			attr: {href: sContactsHash}, visible: bAllowContacts"></a>
	</span>
	<span class="item calendar" data-bind="css: {'current': currentTab() === Enums.Screens.Calendar, 
			'recivedAnim': calendarRecivedAnim}">
		<span class="helper" data-i18n="HEADER/CALENDAR" data-bind="i18n: 'text'"></span>
		<a href="javascript: void(0);" data-i18n="HEADER/CALENDAR" data-bind="i18n: 'text', 
			attr: {href: sCalendarHash}, visible: bAllowCalendar"></a>
	</span>
	<!--<span class="item calendar" data-bind="css: {'current': currentTab() === Enums.Screens.FileStorage}">
		<span class="helper" data-i18n="HEADER/FILESTORAGE" data-bind="i18n: 'text'"></span>
		<a href="javascript: void(0);" data-i18n="HEADER/FILESTORAGE" data-bind="i18n: 'text', 
		   attr: {href: sFileStorageHash}"></a>
	</span>-->
	<span class="item logout">
		<span data-i18n="HEADER/LOGOUT" data-bind="i18n: 'text', click: logout"></span>
	</span>
	<span class="item settings" data-bind="css: {'current': currentTab() === Enums.Screens.Settings}">
		<a href="javascript: void(0);" data-i18n="HEADER/SETTINGS" data-bind="i18n: 'text', 
		   attr: {href: sSettingsHash}"></a>
	</span>
</div>
