<div class="panel_center">
	<div class="items_list" data-bind="customScrollbar: {x: false}">
		<div class="scroll-inner">
			
		<!-- ko foreach: groups -->
			<div class="item selectable " 
				 data-bind="css: {'selected': storageType() === $root.storageType()}">
				<a href="javascript: void(0);" class="title" data-bind="
				   droppable: function (oEvent, oUi) {$root.filesDrop($data, oEvent, oUi);},
				   click: function () { $root.getFiles(storageType()); }">
					<span class="name">
						<span class="icon" data-bind="css: 'type' + (storageType() + 1)"></span>
						<span class="text" data-bind="text: displayName()"></span>
					</span>
				</a>
			</div>
		<!-- /ko -->

		</div>
	</div>
</div>
