	<span class="content">
		<span class="item upload">
			<span class="icon" data-bind="i18n: 'title'" data-i18n="FILESTORAGE/UPLOAD_FILE"></span>
			<span class="text" data-bind="i18n: 'text'" data-i18n="FILESTORAGE/UPLOAD_FILE"></span>
		</span>
		<span class="item download">
			<span class="icon" data-bind="i18n: 'title'" data-i18n="FILESTORAGE/DOWNLOAD_FILE"></span>
			<span class="text" data-bind="i18n: 'text'" data-i18n="FILESTORAGE/DOWNLOAD_FILE"></span>
		</span>
		<span class="item edit">
			<span class="icon" data-bind="i18n: 'title'" data-i18n="FILESTORAGE/EDIT_FILE"></span>
			<span class="text" data-bind="i18n: 'text'" data-i18n="FILESTORAGE/EDIT_FILE"></span>
		</span>
		<span class="item share">
			<span class="icon" data-bind="i18n: 'title'" data-i18n="FILESTORAGE/SHARE_FILE"></span>
			<span class="text" data-bind="i18n: 'text'" data-i18n="FILESTORAGE/SHARE_FILE"></span>
		</span>
		<span class="item delete">
			<span class="icon" data-bind="i18n: 'title'" data-i18n="FILESTORAGE/DELETE_FILE"></span>
			<span class="text" data-bind="i18n: 'text'" data-i18n="FILESTORAGE/DELETE_FILE"></span>
		</span>
	</span>