<!DOCTYPE html>
<html>
	<head>
		<title></title>
		{{BaseUrl}}
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link type="text/css" rel="stylesheet" href="static/css/libs.css">
		<link type="text/css" rel="stylesheet" href="skins/Default/sharing.css">
	</head>
	<body>
		<div class="sharing_panel large">
			<div class="item file">
				<div class="item_content">
					<span class="data">
						<span class="icon {{FileType}}"></span>
						<span class="name">{{FileName}}</span>
						<span class="size">{{FileSize}}</span>
					</span>
				</div>
			</div>
			<span class="buttons">
				<a class="button download" href="{{Url}}">Download</a>
			</span>
		</div>
	</body>
</html>
