<div class="item" data-bind="css: {'expand': $parent.currentCalendarDropdown() === id}, style: {backgroundColor: color}">
	<span class="dropdown">
		<span class="dropdown_helper">
			<span class="dropdown_arrow"><span></span></span>
			<span class="dropdown_content" data-bind="style: {backgroundColor: color}">
				<!--span class="item" data-i18n="CALENDAR/ACTION_CREATE_EVENT" data-bind="visible: (access !== 2), i18n: 'text', click: function (item) {$parent.createEventInCalendar(id);}"></span>
				<span class="item" data-i18n="CALENDAR/ACTION_HIDE_OTHER" data-bind="i18n: 'text', click: function () {$parent.calendars.hideOtherCalendars(id);}"></span-->
				<span class="item" data-i18n="CALENDAR/ACTION_EDIT_CALENDAR" data-bind="visible: isEditable(), i18n: 'text', click: function (oItem) {$parent.openUpdateCalendarForm(oItem);}"></span>
				<span class="item" data-i18n="CALENDAR/ACTION_IMPORT_CALENDAR" data-bind="visible: isEditable(), i18n: 'text', click: function (oItem) {$parent.openImportCalendarForm(oItem);}"></span>
				<span class="item" data-i18n="CALENDAR/ACTION_GETLINK_CALENDAR" data-bind="i18n: 'text', visible: (!isShared() || isOwner()), click: function (oItem) {$parent.openGetLinkCalendarForm(oItem);}"></span>
				<span class="item" data-i18n="CALENDAR/ACTION_SHARE_AND_PUBLISH" data-bind="i18n: 'text', visible: (canShare() && $parent.calendarSharing), click: function (oItem) {$parent.openShareCalendarForm(oItem);}"></span>
				<span class="item" data-i18n="CALENDAR/ACTION_REMOVE_CALENDAR" data-bind="i18n: 'text', visible: isOwner() && !isDefault && !isSharedToAll(), click: function () {$parent.deleteCalendar(id);}"></span>
				<span class="item" data-i18n="CALENDAR/ACTION_UNSUBSCRIBE_CALENDAR" data-bind="i18n: 'text', visible: !isOwner() && !isSharedToAll(), click: function () {$parent.deleteCalendar(id, true);}"></span>
				<span class="separator" data-bind="visible: (!isShared() || isOwner())"></span>
				<span class="colors" data-bind="visible: isEditable(), foreach: $parent.colors">
					<span class="item color_pick" data-bind="style: {backgroundColor: $data}, css: {'selected': $parent.color() === $data},
						 click: function () {$root.updateCalendarColor($data, $parent.id);}"></span>
				</span>
			</span>
		</span>
	</span>
</div>