<div class="item" data-bind="
	 droppable: {valueFunc: function (oEvent, oUi) { $root.dropItem(oEvent, oUi); }},
	 dropdown: {'callback': $parent.calendarDropdownToggle, 'trueValue': id, passClick: false},
	 click: $parent.calendarListClick,
	 style: {backgroundColor: color},
	 css: {'inactive': !active(), 'readonly': !isEditable()}">
	<span class="control" data-bind="visible: control"></span>
	<label class="custom_checkbox" data-bind="css: {'checked': active}">
		<span class="icon"></span>
		<input type="checkbox" data-bind="checked: active" />
	</label>
	<span class="icon public" data-bind="visible: isPublic()"></span>
	<span>
		<span class="title" data-bind="text: name() + (isShared() ? ' - ' + owner() : ''), fade: {color: color}"></span>
	</span>
</div>