<div class="fields">
	<div class="fieldset">
		<div data-bind="visible: available">
			<div class="row enable">
				<div>
					<label class="custom_checkbox" data-bind="css: {'checked': enable}">
						<span class="icon"></span>
						<input type="checkbox" id="enable_ar" data-bind="checked: enable" />
					</label>
					<label for="enable_ar" data-i18n="SETTINGS/ACCOUNT_AUTORESPONDER_ENABLE" data-bind="i18n: 'text'"></label>
				</div>
			</div>
			<div class="row subject">
				<span class="label" data-i18n="SETTINGS/ACCOUNT_AUTORESPONDER_SUBJECT" data-bind="i18n: 'text'"></span>
				<input class="value input" spellcheck="false" type="text" data-bind="value: subject, disable: !enable()" />
			</div>
			<div class="row message">
				<span class="label" data-i18n="SETTINGS/ACCOUNT_AUTORESPONDER_MESSAGE" data-bind="i18n: 'text'"></span>
				<textarea class="input" data-bind="value: message, disable: !enable()"></textarea>
			</div>
		</div>
	</div>
	<div class="buttons" data-bind="visible: available">
		<span class="button" data-bind="click: onSaveClick">
			<span data-i18n="SETTINGS/BUTTON_SAVE" data-bind="i18n: 'text', visible: !loading()"></span>
			<span data-i18n="SETTINGS/BUTTON_SAVING" data-bind="i18n: 'text', visible: loading()"></span>
		</span>
	</div>

</div>