<!--
	Attention!
	This template is used with view models 
	CAccountSignatureViewModel, CFetcherSignatureViewModel and CIdentityPropertiesViewModel.
-->
<div class="fields">
	<div class="fieldset">
		<div class="row">
			<div>
				<label class="custom_radio" data-bind="css: {'checked': useSignature() == 0}">
					<span class="icon"></span>
					<input type="radio" value="0" data-bind="checked: useSignature, attr: {'id': 'noSignature' + __name}" />
				</label>
				<label data-i18n="SETTINGS/ACCOUNT_SIGNATURE_NO_SIGNATURE" data-bind="i18n: 'text', attr: {'for': 'noSignature' + __name}"></label>
			</div>
		</div>
			
		<div class="row editor_row">
			<label class="custom_radio" data-bind="css: {'checked': useSignature() == 1}">
				<span class="icon"></span>
				<input type="radio" id="useSignature" value="1" data-bind="checked: useSignature, enable: enabled" />
			</label>
			
			<div class="editor" data-bind="template: {name: 'Common_HtmlEditorViewModel', data: oHtmlEditor}"></div>
		</div>
		<div class="hint" data-i18n="HTMLEDITOR/UPLOAD_HINT_IMAGE_DRAGNDROP" data-bind="visible: enableImageDragNDrop, i18n: 'text'"></div>
	</div>
	<div class="buttons">
		<span class="button" data-i18n="SETTINGS/BUTTON_SAVE" data-bind="i18n: 'text', click: onSaveClick, visible: !loading()"></span>
		<span class="button" data-i18n="SETTINGS/BUTTON_SAVING" data-bind="i18n: 'text', visible: loading()"></span>
	</div>
</div>