<span class="part field" data-bind="customSelect: {'control': false, 'options': $parents[1].conditionOptions, value: $parent.condition, optionsText: 'text', optionsValue: 'value'}">
	<span class="link"></span>
	<span class="dropdown">
		<span class="dropdown_helper">
			<span class="dropdown_arrow"><span></span></span>
			<span class="dropdown_content">
			</span>
		</span>
	</span>
</span>
<!--<select class="input" data-bind="value: $parent.condition, options: $parents[1].conditionOptions, optionsText: 'text', optionsValue: 'value'">
</select>-->
