<div class="fields">
	<div class="fieldset">
		<div class="row allow_sending">
			<div>
				<label class="custom_checkbox" data-bind="css: {'checked': isOutgoingEnabled}">
					<span class="icon"></span>
					<input type="checkbox" id="sending_from_this_account" data-bind="checked: isOutgoingEnabled, enable: isEnabled" />
				</label>
				<label for="sending_from_this_account" data-i18n="SETTINGS/ACCOUNT_FETCHER_OUTGOING_ALLOW_SENDING" data-bind="i18n: 'text'"></label>
			</div>
		</div>
		<div class="row outgoing">
			<span class="label required" data-i18n="SETTINGS/ACCOUNT_FETCHER_SMTP_SERVER" data-bind="i18n: 'text'"></span>
			<input class="value input" spellcheck="false" type="text" maxlength="65" data-bind="value: outgoingMailServer, onEnter: onSaveClick, hasFocus: serverIsSelected, enable: isEnabled"/>

			<span class="label required" style="width: auto; margin-left: 10px;" data-i18n="SETTINGS/ACCOUNT_PROPERTIES_PORT" data-bind="i18n: 'text'"></span>
			<input class="value input port" spellcheck="false" type="text" maxlength="5" data-bind="value: outgoingMailPort, onEnter: onSaveClick, enable: isEnabled"/>
		</div>

		<div class="row smtp_authentication">
			<div>
				<label class="custom_checkbox" data-bind="css: {'checked': outgoingMailAuth}">
					<span class="icon"></span>
					<input type="checkbox" id="use_smtp_authentication" data-bind="checked: outgoingMailAuth, enable: isEnabled" />
				</label>
				<label for="use_smtp_authentication" data-i18n="SETTINGS/ACCOUNT_FETCHER_USE_SMTP_AUTHENTICATION" data-bind="i18n: 'text'"></label>
			</div>
		</div>

		<div class="row hint">
			<span class="" data-i18n="SETTINGS/ACCOUNT_FETCHER_HINT_COMPOSE" data-bind="i18n: 'text'"></span>
		</div>

		<div class="row name">
			<span class="label" data-i18n="SETTINGS/ACCOUNT_FETCHER_LABEL_NAME" data-bind="i18n: 'text'"></span>
			<input class="value input" spellcheck="false" type="text" maxlength="65" data-bind="value: userName, onEnter: onSaveClick, enable: isEnabled"/>
		</div>

		<div class="row email">
			<span class="label" data-i18n="SETTINGS/ACCOUNT_FETCHER_LABEL_EMAIL" data-bind="i18n: 'text'"></span>
			<input class="value input" spellcheck="false" type="text" maxlength="65" data-bind="value: email, onEnter: onSaveClick, enable: isEnabled"/>
		</div>
	</div>

	<div class="buttons">
		<span class="button" data-i18n="SETTINGS/BUTTON_SAVE" data-bind="i18n: 'text', click: onSaveClick, visible: !loading()"></span>
		<span class="button" data-i18n="SETTINGS/BUTTON_SAVING" data-bind="i18n: 'text', click: onSaveClick, visible: loading()"></span>
	</div>

</div>