<div class="panel_top">
	<h2 class="title" data-i18n="SETTINGS/TITLE_HELPDESK" data-bind="i18n: 'text'"></h2>
</div>
<div class="panel_center">
	<div class="fields">
		<div class="fieldset">
			<div class="row">
				<span class="value">
					<label class="custom_checkbox" data-bind="css: {'checked': allowNotifications}">
						<span class="icon"></span>
						<input type="checkbox" id="allowNotifications" data-bind="checked: allowNotifications" />
					</label>
					<label for="allowNotifications" data-i18n="SETTINGS/HELPDESK_NOTIFICATIONS_LABEL" data-bind="i18n: 'text'"></label>
				</span>
			</div>
			<div class="row hint">
				<span data-i18n="SETTINGS/HELPDESK_NOTIFICATIONS_HINT" data-bind="i18n: 'text'"></span>
			</div>


			<div class="signature">
				<div class="row">
					<div>
						<label class="custom_radio" data-bind="css: {'checked': signatureEnable() == false}">
							<span class="icon"></span>
							<input type="radio" value="0" id="helpdesk_no_signature" data-bind="checked: signatureEnable" />
						</label>
						<label for="helpdesk_no_signature" data-i18n="SETTINGS/ACCOUNT_SIGNATURE_NO_SIGNATURE" data-bind="i18n: 'text'"></label>
					</div>
				</div>
				<div class="row editor_row" data-bind="initDom: domSignature">
					<label class="custom_radio" data-bind="css: {'checked': signatureEnable() == true}">
						<span class="icon"></span>
						<input type="radio" id="helpdesk_signature" value="1" data-bind="checked: signatureEnable" />
					</label>

					<div class="editor">
						<textarea class="input" data-bind="value: signature, disable: !signatureEnable(), hasFocus: signatureFocused()"></textarea>
					</div>
				</div>
			</div>


		</div>

		<div class="buttons">
			<span class="button" data-bind="click: onSaveClick">
				<span data-i18n="SETTINGS/BUTTON_SAVE" data-bind="i18n: 'text', visible: !loading()"></span>
				<span data-i18n="SETTINGS/BUTTON_SAVING" data-bind="i18n: 'text', visible: loading()"></span>
			</span>
		</div>
	</div>
</div>