<div class="panel_top">
	<h2 class="title" data-i18n="SETTINGS/TITLE_OUTLOOK_SYNC" data-bind="i18n: 'text'"></h2>
</div>

<div class="panel_center">
	<div class="fields" data-bind="visible: visibleOutlookSync()">
		<div class="fieldset">
			<div class="hint" data-i18n="SETTINGS/OUTLOOKSYNC_HEADING" data-bind="i18n: 'text'"></div>
			<div class="row">
				<span class="label" data-i18n="SETTINGS/OUTLOOKSYNC_SERVER" data-bind="i18n: 'text'"></span>
				<span class="value" data-bind="text: server"></span>
			</div>
			<div class="row">
				<span class="label" data-i18n="SETTINGS/OUTLOOKSYNC_LOGIN" data-bind="i18n: 'text'"></span>
				<span class="value" data-bind="text: login"></span>
			</div>
			<div class="row">
				<span class="label" data-i18n="SETTINGS/OUTLOOKSYNC_PASSWORD_TITLE" data-bind="i18n: 'text'"></span>
				<span class="value" data-bind="text: password"></span>
			</div>
		</div>
	</div>
</div>