<div class="fieldset" data-bind="visible: showResetPasswordButton">
	<div class="hint">
		<span data-bind="text: sHintSetPassword1">
		</span><a href="javascript:void(0);" data-bind="text: sHintSetPassword2, click: configureMail">
		</a><span data-bind="text: sHintSetPassword3"></span>
	</div>
	<div class="buttons" style="text-align: left; margin-bottom: 0;">
		<span data-bind="click: resetPassword" class="button">
			<span data-bind="text: resetPasswordButtonText"></span>
		</span>
	</div>
</div>
